.header  {
  font-family: monospace;
  background: rgba(79, 136, 158, 0.432);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background:white;
  padding: 4px 15px;
  border-radius: 15px;
}

ul {
  
  list-style-type: none;
  display: flex;
  margin: 15px;
  padding: 0;
  gap: 8px;
}


a {
  font-size: 22px;
  color: #021f55;
  background: white;
  padding: 8px;
  text-decoration: none;
  border-radius: 15px;
}
