.header  {
  font-family: monospace;
  background: rgba(79, 136, 158, 0.432);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 10px;
}

.logo a {
  font-size: 48px;
  font-weight: 900;
  color: rgb(212, 44, 14);
  background:white;
  padding: 4px 15px;
  border-radius: 15px;
}

ul {
  
  list-style-type: none;
  display: flex;
  margin: 15px;
  padding: 0;
  gap: 8px;
}


a {
  font-size: 22px;
  color: #021f55;
  background: white;
  padding: 8px;
  text-decoration: none;
  border-radius: 15px;
}

.main{
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.reviewpage {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  padding: 15px;
  background: rgba(79, 136, 158, 0.332);
  border-radius: 15px;
  margin-top: 25px;
  text-align: center;
  max-width: 400px;
  font-family: Helvetica, sans-serif;
  font-size: large;
}

.images-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 15px;
}

.images-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  box-shadow: -5px 5px 5px #888888;
  border-radius: 15px;
}

.images-centre {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 5px #888888;
  border-radius: 15px;
}

img {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.reviews {
  margin: 0;
  text-indent: 0;
  border-radius: 15px 15px 0px 0px;
}

.br {
  display: block;
  margin-bottom: 1em;
}

.blog {
  background: rgba(250, 40, 3, 0.332);
  border-radius: 15px;
  margin-top: 25px;
  text-align: center;
  width: 33%;
  min-width: 300px;
  max-width: 400px;
  padding-bottom: 15px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
  border-radius: 15px;
}

.horse-of-fame {
  background: rgba(1, 107, 1, 0.332);
  border-radius: 15px;
  margin-top: 25px;
  text-align: center;
  width: 33%;
  min-width: 300px;
  max-width: 400px;
  padding-bottom: 15px;
}